@page "/"
@using VolunteerRequestApp.Client.Infrastructure;
@using VolunteerRequestApp.Shared.Dtos.Currency;
@using VolunteerRequestApp.Shared.Dtos.Request;

@inject HttpRequestService RequestService
@inject NavigationManager Navigation

<SfButton CssClass="float-end e-success" OnClick="@GoToNewRequestPage">Додати новий запит</SfButton>

<h4>Запити</h4>

<hr />
@if(Requests is not null && Requests.Any())
{
    <div class="row">
        @foreach (var r in Requests)
        {
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <RequestCardComponent Request="r"></RequestCardComponent>
            </div>
        }
    </div>
} 
else if(Requests is not null)
{
    <SfMessage Severity="MessageSeverity.Warning">Інформація про запити відсутня...</SfMessage>

} else
{
    <SpinnerComponent></SpinnerComponent>
}

@code {

    private IEnumerable<RequestReadDto> Requests = null;

    protected override async Task OnInitializedAsync()
    {
        Requests = await RequestService.GetRequestsAsync();        
    }

    void GoToNewRequestPage()
    {
        Navigation.NavigateTo("/requests/new");
    }
}
