<div style="text-align:center; display: @(Visible?"block":"none")">
    <div><small style="color: #777">Завантаження...</small></div>
    <span class="loader"></span>
</div>

@code {
    [Parameter]
    public bool Visible { get; set; } = true;

}